@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $mb-menu-shadow-line;
  background-color: $mb-menu-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }


  .menu {
    display: flex;
    align-self: stretch;
    margin: 0 auto;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $mb-menu-tx;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $mb-menu-links-border;
      font-weight: 500;
      letter-spacing: 1px;


      &:hover {
        animation: pulsing-bg $animation-time-bg $animation-iteration-count;
      }

      &:hover,
      &.active {
        background-color: $mb-menu-links-hover-bg;
        color: $mb-menu-links-hover-tx;
        border-color: $mb-menu-links-hover-border;
      }

      &.active {
        border-color: $mb-menu-links-hover-border-active;
      }
    }
  }
}

.dropdown {
  text-align: center;
  position: relative;
  border: 1px solid ;
  border-left: none;
  padding: 9.5px;
}

.dropdownContent {
  display: none;
  top: 45px;
  right: 0px;
  z-index: 2;
  padding: 0;
  background-color: $semi-white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  list-style: none;

  a {
    text-decoration: none;
    padding: 8px;
    display: block;


    &:hover {
      background-color: $smoke-grey;
    }
    li {
      color: $text-color;
    }
  }
}


@media (max-width: 767px) {
  .dropdownContent {
    position: absolute;
  }
}


@media (max-width: 1200px) {
  .root
  :global(.container) > :global(.row) {
    height: 124px;
  }
}

@media (max-width:470px) {
  
}

.dropdown:hover .dropdownContent {display: block;}

