@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;
  .menu {
    display: flex;
    align-self: stretch;
    margin: 0 auto;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: #ffffff;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}

.dropdown {
  text-align: center;
}

.dropdowncontent {
  display: none;
  z-index: 2;
  padding: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  list-style: none;
}

.dropdowncontent a {
  text-decoration: none;
  padding: 8px;
  display: block;

  li {
    color: $text-color;
  }
}

.dropdowncontent a:hover {background-color: #ddd;}

.dropdown:hover .dropdowncontent {display: block;}

