@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-bg;
  color: $button-tx;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-hover-tx !important;
    background-color: $button-hover-bg;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $small-button-outline-border;
  color: $small-button-outline-border-tx;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $small-button-hover-outline-border;
    color: $small-button-hover-outline-border-tx;
  }
}
