@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-bg;
  color: $pureWhite;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  white-space: nowrap;

  &:not(.noHover):hover {
    color: $button-hover-tx !important;
    background-color: $primary;
    text-decoration: none;
    animation: pulsing-btn $animation-time-btn $animation-iteration-count;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $small-button-outline-border;
  color: $small-button-outline-border-tx;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $small-button-hover-outline-border;
    color: $small-button-hover-outline-border-tx;
    animation: pulsing-btn $animation-time-btn $animation-iteration-count;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .small {
    font-size: 11px;
  }
}
