@import "../../../styles/settings.scss";

.smallBox {
  max-width: 100px;
  height: 100px;
  position: relative;
  margin: 0 20px;
  padding: 0;

  .image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }

  &:hover {
    .closeButton {
      display: block !important;
      transform: translate(-25%, -25%) rotate(45deg);
      color: $primary;
      border: none;
      width: min-content;
      height: min-content;
      scale: 2;
      padding: 0;
    }
  }
}

.closeButton {
  display: none !important;
  cursor: pointer;
}
