@import "../../../styles/settings.scss";

.root {
  background-color: $light-text-color;
  margin-bottom: 2rem;

  .productCart {
    max-height: 500px;

    .photobox {
    position: relative;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

      .image {
        object-fit: cover;
        height: 300px;
        width: 100%;
      }

      .deals {
        height: 40px;
        background-color: $footer-bg;

        .text {
          color: #ffffff;
          text-transform: uppercase;
          margin-left: 10px;
          font-size: 20px;
          line-height: 40px;
        }

        .dots {
          position: absolute;
          right: 0;
          top: 0;

          ul {
            margin: 0;
            list-style: none;
            transform: translateY(-2px);

            li {
              display: inline-block;
              margin-left: 0.5rem;

              a {
                display: block;
                width: 13px;
                height: 13px;
                border-radius: 6px;
                background-color: #e1e1e1;
                font-size: 0;

                &.active,
                &:hover {
                  background-color: $primary;
                }
              }
            }
          }
        }
      }

      .button {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        visibility: hidden;
      }

      .counter {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        visibility: hidden;

        .item {
          background-color: $footer-bg;
          color: #ffffff;
          height: 65px;
          width: 65px;
          border-radius: 50%;
          margin: 0 2px;
          padding-top: 20px;
          opacity: 0.9;
          text-align: center;

          .itemOne {
            font-size: 28px;
            line-height: 0.1;
          }
          .itemTwo {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 400;
          }
        }
      }

      &:hover {
        .button {
          visibility: visible;
        }
        .counter {
          visibility: visible;
        }

        .price > div {
          background-color: $primary;
        }
      }
    }

    .contentbox {
      border: 1px solid #e1e1e1;
      .content {
        text-align: center;
        padding: 20px;

        h5 {
          color: $primary;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
        }

        .stars {
          a {
            text-decoration: none;
            color: rgb(42, 42, 42);
          }
        }
      }

      .line {
        margin: 0 10px;
        border-bottom: 1px solid #2a2a2a;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 50%;
          width: 30px;
          border-bottom: 4px solid $primary;
          transform: translateX(-50%);
        }
      }

      .actions {
        padding: 15px 10px 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .outlines {
        .favorite {
          color: $danger;

          & > svg {
            scale: 1.2;
          }
        }

        .compare {
          color: $primary;

          & > svg {
            scale: 1.2;
          }
        }
      }

      .price {
        display: flex;

        p {
          margin: auto 3px;
          color: $color-gray;
          text-decoration: line-through;
          font-weight: 200;
        }
      }
    }
}
  .productFeatured {
    height: 500px;

    .photo {
      position: relative;

      .image {
        object-fit: cover;
        width: 100%;
        max-height: 460px;
      }

      .title {
        position: absolute;
        height: 200px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $header-topbar-bg;
        opacity: 0.5;

        .text {
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          color: $light-text-color;
          text-transform: uppercase;

          .textOne {
            font-size: 55px;
            margin: 0;

            span {
              font-weight: 600;
            }
          }
          .textTwo {
            font-size: 25px;
          }
        }
      }

      button {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #2a2a2a;
        background-color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        padding: 13px 25px;
        text-transform: uppercase;
        border: 0;
        border-radius: 3px;
      }
    }

    .buttons {
      display: flex;
      height: 40px;
      font-size: 20px;
      font-weight: 600;

      .button {
        width: 50%;
        background-color: $footer-claim-bg;
        color: #ffffff;
        border: 0;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .root {
    margin-top: 15px;

    .productCart {
      height: 100%;

      .photobox {
        .image {
          object-fit: cover;
          height: 250px;
        }
      }
    }

    .productFeatured {
      height: 100%;
    }
  }
}

@media (max-width: 991px) {
  .root {
    .productCart {
      .photobox {
        .image {
          height: 180px;
        }

        .deals {
          height: 35px;

          .text {
            font-size: 15px;
            line-height: 35px;
          }

          .dots {
            ul {
              li {
                a {
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }
        }

        .button {
          top: 40%;
        }

        .counter {
          top: 75%;

          .item {
            height: 40px;
            width: 40px;
            padding-top: 8px;

            .itemOne {
              font-size: 10px;
            }
            .itemTwo {
              font-size: 8px;
            }
          }
        }
      }
    }

    .productFeatured {
      .photo {
        .image {
          max-height: 300px;
        }

        .title {
          height: 150px;

          .text {
            .textOne {
              font-size: 40px;
            }
            .textTwo {
              font-size: 20px;
            }
          }
        }

        button {
          top: 75%;
          font-size: 14px;
          line-height: 24px;
          padding: 11px 20px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .root {
    .productCart {
      display: none;
      width: 0;
      padding: 0;
      margin: 0;
    }

    .productFeatured {
      height: 350px;
      width: 100%;

      .photo {
        .image {
          object-fit: cover;
          width: 100%;
          max-height: 360px;
        }

        .title {
          height: 200px;
          width: 154%;
          left: 50%;

          .text {
            width: 100%;

            .textOne {
              font-size: 50px;
            }
            .textTwo {
              font-size: 22px;
            }
          }
        }

        button {
          top: 75%;
          left: 50%;
          width: 130px;
          transform: translate(-50%,-50%);
        }
      }

      .buttons {
        display: none;
      }
    }
  }
}
