$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

// Animation settings
$animation-bg: rgb(97, 19, 0);
$animation-text: rgb(231, 46, 0);
$animation-icon: rgb(255, 208, 0);
$animation-time-bg: 0.25s;
$animation-time-text: 0.25s;
$animation-time-icon: 0.25s;


@keyframes myanim-bg {
  50% {background-color: $animation-bg; border-color: $animation-bg;}
  100% {background-color:$primary;}
}

@keyframes myanim-text {
  50% {color: $animation-text; font-size: 14px;}
  100% {color:$primary;}
}

@keyframes myanim-icon {
  50% {color: $animation-icon; font-size: 26px;}
  100% {color:$primary;}
}
