@import "../../../styles/settings.scss";

.root {
  background-color: $pb-box-bg;

  .photo {
    position: relative;
    height: 330px;
    background: {
      color: $pb-photo-cover;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .image {
      object-fit: cover;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $pb-sale-bg;
      border-radius: 50%;
      color: $pb-sale-tx;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      visibility: hidden;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
}

@media (max-width: 577px) {
  .root {
    margin: 20px auto;
    max-width: 300px;
  }
}

@media (min-width: 578px) and (max-width: 991px) {
  .root {
    margin: 20px auto;
    max-width: 300px;
  }
}
