@import "../../../styles/settings.scss";

.starRating {
  display: flex;
  justify-content: center;
}

.star {
  cursor: pointer;
}

.defaultStar {
  color: black;
}

.hoverStar {
  color: $primary; // Kolor kremowy
}

.clickedStar {
  color: $primary; // Kolor kremowy
}

.userRatedStar {
  color: $primary; // Kolor kremowy
}
