@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    ul {
      list-style: none;
      font-size: 14px;
      text-align: center;
      width: 200px;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        margin: 14px 0;

        &.mainCategory {
          padding: 8px 16px;
          margin: 0;

          &:hover {
            cursor: pointer;
            background-color: $color-gray;
          }
        }

        & > ul {
          position: absolute;
          display: none;
          border: 1px solid $form-border-color;
          width: 200px;
          z-index: 2;
        }

        &:hover > ul {
          display: block;
          background-color: white; // docelowo będzie kolor ze zmienną z pliku settings.scss
        }
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
