@import "../../../styles/settings.scss";

.root {
  border: 1px solid $ps-border-color;
  display: inline-flex;
  height: 45px;
  color: $ps-border-dropdown;

  .category {
    border-right: 1px solid $ps-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $ps-border-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      font-size: 14px;
      outline: none;
      border: 0;
      background-color: $ps-border-select-bg;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $ps-border-placeholder-color;
      }
    }

    button {
      border: 0;
      background-color: $ps-border-button-bg;
      outline: none;
    }
  }
}
