@import "../../../styles/settings.scss";

.modalHeader {
  justify-content: center;
}

.modalBody {
  text-align: center;

  .icon {
    font-size: 50px;
    margin-bottom: 16px;
  }

  .form {
    justify-content: center;
  }
}
