@import "../../../styles/settings.scss";

.root {
  margin: 30px 0;

  .gallery {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .leftSide {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 50%;

      h3 {
        position: relative;
        font-size: 20px;
        line-height: 38px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $primary;
        margin: 0;

        &::after {
          content: '';
          position: absolute;
          background-color: $gal-header-line;
          width: 100%;
          height: 3px;
          left: 0;
          bottom: -5px;
        }

        &::before {
          content: '';
          position: absolute;
          background-color: $gal-header-line-decor;
          width: 50px;
          height: 3px;
          left: 0;
          bottom: -5px;
          z-index: 1;
        }
      }

      .sectionButtons {
        display: flex;
        margin-top: 20px;
        text-transform: uppercase;

        .button {
          flex-grow: 1;
          font-size: 16px;
          font-weight: 700;
          text-align: center;
        }
      }

      .leftSideMainImage {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        .productButtons {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 120px;
          left: 10px;
          gap: 10px;
          z-index: 2;
        }
      }

      .tooltipButton {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: $gal-button-bg;

        &:hover {
          .tooltip {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .tooltip {
        position: absolute;
        top: 50%;
        left: 100%;
        padding: 5px 10px;
        font-size: 12px;
        white-space: nowrap;
        transform: translateY(-50%);
        background-color: $gal-tooltip-bg;
        color: $gal-tooltip-tx;
        border-radius: 3px;
        opacity: 0;
        visibility: hidden;
      }

      .productInfo {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        right: 20px;
        bottom: 20px;
        width: 250px;
        height: 106px;
        gap: 8px;
        border: 1px solid $gal-product-info-border;
        border-radius: 10px;
        background-color: $gal-product-info-bg;
        z-index: 2;

        h5 {
          font-size: 14px;
          font-weight: 700;
        }

        .productPrices {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 105px;
          height: 105px;
          border-radius: 50%;
          top: -80px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $gal-product-prices-bg;
          opacity: 0.9;
          z-index: 3;

          .price {
            font-size: 20px;
            font-weight: 700;
            color: $gal-product-prices-tx;
            z-index: 3;
          }

          .oldPrice {
            font-size: 16px;
            font-weight: 500;
            color: $gal-product-prices-tx;
            text-decoration: line-through;
            z-index: 3;
          }
        }
      }

      .slider {
        display: flex;
        align-items: center;

        .sliderButton {
          display: flex;
          flex-shrink: 0;
          justify-content: center;
          align-items: center;
          height: 70px;
          margin: 0 5px;
        }

        .sliderImage {
          display: flex;
          margin-top: 7px;
        }

        .thumbnail {
          cursor: pointer;
          position: relative;
          display: inline-block;
          height: 70px;
          width: 70px;
          overflow: hidden;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }

          img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            transition: opacity ease;
          }

          &:hover img {
            opacity: 1;
          }
        }
      }
    }

    .rightSide {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 16px;

      .rightSideMainImage {
        position: relative;
        width: 100%;
        height: 603px;

        img {
          position: absolute;
          object-fit: cover;
          height: 100%;
          width: 100%;
          z-index: 1;
        }
      }

      .productInfo {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 70px;
        left: 60px;
        gap: 25px;
        z-index: 2;

        .price {
          display: flex;
          align-items: baseline;
          gap: 4px;

          .priceText {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
          }

          .priceValue {
            font-size: 36px;
            font-weight: 700;
            color: $gal-right-value-tx;
          }
        }

        h5 {
          font-size: 36px;
          font-weight: 700;
          color: $gal-right-product-name;
        }
      }

      .shopButton {
        position: absolute;
        padding: 10px 20px;
        top: 250px;
        left: 60px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $gal-right-button-bg;
        color: $gal-right-button-tx;
        z-index: 2;
      }
    }
  }
}

.fade {
  animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .root {
    .gallery {
      .leftSide {
        flex: 1 1 50%;
        max-width: 50%;

        .slider {
          .thumbnail {
            height: 70px;
            width: 70px;
            margin-right: 8px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .rightSide {
        flex: 1 1 50%;
        max-width: 50%;
      }
    }
  }
}

@media (max-width: 992px) {
  .root {
    .gallery {
      .leftSide {
        flex: 1 1 50%;
        max-width: 50%;

        .sectionButtons {
          .button {
            font-size: 12px;
          }
        }

        .leftSideMainImage {
          .productButtons {
            flex-direction: column;
            top: 100px;
            left: 15px;
            right: unset;
            gap: 10px;
            font-size: 10px;

            .tooltipButton {
              width: 35px;
              height: 35px;
            }
          }
        }

        .productInfo {
          width: 180px;
          height: 90px;
          top: 300px;
          left: 150px;
          gap: 10px;
          z-index: 2;

          h5 {
            font-size: 13px;
          }

          .productPrices {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            top: -80px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $gal-product-prices-bg;
            opacity: 0.9;
            z-index: 3;
          }
        }

        .slider {
          .thumbnail {
            height: 70px;
            width: 70px;
            margin-left: 10px;
            margin-right: 8px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .rightSide {
        flex: 1 1 50%;
        max-width: 50%;

        .productInfo {
          top: 40px;
          left: 20px;
          gap: 15px;
          z-index: 2;

          .price {
            .priceText {
              font-size: 16px;
            }

            .priceValue {
              font-size: 32px;
            }
          }

          h5 {
            font-size: 32px;
          }
        }

        .shopButton {
          top: 170px;
          left: 40px;
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    .gallery {
      .leftSide {
        flex: 1 1 100%;
        max-width: 100%;

        .leftSideMainImage {
          width: 100%;
          height: 350px;
          position: relative;
          z-index: 1;

          img {
            width: 100%;
            height: 350px;
          }

          .productButtons {
            flex-direction: column;
            top: 70px;
            gap: 10px;
            font-size: 10px;

            .tooltipButton {
              width: 40px;
              height: 40px;
            }
          }
        }

        .productInfo {
          width: 200px;
          height: 100px;
          top: 200px;
          left: 300px;
          gap: 5px;
          z-index: 2;

          h5 {
            text-align: center;
            font-size: 15px;
            word-spacing: normal;
          }

          .productPrices {
            width: 100px;
            height: 100px;
          }
        }

        .slider {
          .thumbnail {
            height: 75px;
            width: 75px;
            margin-left: 5px;
            margin-right: 5px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .rightSide {
        display: none;
      }
    }
  }
}
